[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
pylint = "*"
pylint-django = "*"
pylint-celery = "*"
model_bakery = "*"

[packages]
djangorestframework = "*"
django-model-utils = "*"
djangorestframework-jwt = "*"
gunicorn = "*"
whitenoise = "*"
Django = "*"
django-sendgrid-v5 = "*"
dj-database-url = "*"
sentry-sdk = "*"
django-storages = "*"
boto3 = "*"
newrelic = "*"
celery = {extras = ["redis"]}
django-jet = "*"
psycopg2-binary = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
